<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.android.hbmsvmanager" platformBuildVersionCode="31" platformBuildVersionName="12">
    <uses-permission android:name="android.permission.CAMERA_OPEN_CLOSE_LISTENER"/>
    <uses-permission android:name="android.permission.CREATE_USERS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CONTROL_DISPLAY_BRIGHTNESS"/>
    <application android:directBootAware="true" android:extractNativeLibs="true" android:persistent="true" android:requiredForAllUsers="true" android:usesNonSdkApi="true">
        <receiver android:exported="false" android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:name=".DisplayService" android:singleUser="true">
            <intent-filter>
                <action android:name="com.android.hbmsvmanager.DisplayService"/>
            </intent-filter>
        </service>
    </application>
</manifest>